.app {
  .styled-toolbar {
    display: flex;
    justify-content: space-between;
    .input-container {
      width: 40%;
      .input {
        padding: 0 10px;
        width: 100%;
        border-radius: 8px;
        background-color: white;
      }
    }
    .pointer {
      cursor: pointer;
    }
  }
}
